body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

div{
    color:white;
}

h2,h3{
    color:black;
}

.container{
    max-width:1170px;
    margin:0 auto;
}

.group{
    margin-bottom:20px;
}

[class*="col-"] {
    max-height:100px;
    padding:20px;
    background-color: blue;
    border:1px solid white;
    text-align: center;
}

.nested{
    background-color: rgb(0,225,101);
    border: 1px solid blue;
}

.wide{
    min-height:100px;
    max-height:300px;
}