*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.row{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.ld-nowrap{
    flex-wrap: nowrap;
}

.j-start{
    justify-content: flex-start;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: flex-end;
}

.j-spacearound{
    justify-content: space-around;
}

.j-spacebetween{
    justify-content: space-between;
}

.a-top{
    align-items: flex-start;
}

.a-center{
    align-items: center;
}

.a-end{
    align-items: flex-end;
}

.col-ld-1{
    flex-basis:calc((100% / 12) * 1);
    max-width:100%;
}

.col-ld-2{
    flex-basis:calc((100% / 12) * 2);
    max-width:100%;
}

.col-ld-3{
    flex-basis:calc((100% / 12) * 3);
    max-width:100%;
}

.col-ld-4{
    flex-basis:calc((100% / 12) * 4);
    max-width:100%;
}

.col-ld-5{
    flex-basis:calc((100% / 12) * 5);
    max-width:100%;
}

.col-ld-6{
    flex-basis:calc((100% / 12) * 6);
    max-width:100%;
}

.col-ld-7{
    flex-basis:calc((100% / 12) * 7);
    max-width:100%;
}

.col-ld-8{
    flex-basis:calc((100% / 12) * 8);
    max-width:100%;
}

.col-ld-9{
    flex-basis:calc((100% / 12) * 9);
    max-width:100%;
}

.col-ld-10{
    flex-basis:calc((100% / 12) * 10);
    max-width:100%;
}

.col-ld-11{
    flex-basis:calc((100% / 12) * 11);
    max-width:100%;
}

.col-ld-12{
    flex-basis:calc((100% / 12) * 12);
    max-width:100%;
}

.offset-ld-1{
    margin-left: calc((100% / 12) * 1)
}

.offset-ld-2{
    margin-left: calc((100% / 12) * 2)
}

.offset-ld-3{
    margin-left: calc((100% / 12) * 3)
}

.offset-ld-4{
    margin-left: calc((100% / 12) * 4)
}

.offset-ld-5{
    margin-left: calc((100% / 12) * 5)
}

.offset-ld-6{
    margin-left: calc((100% / 12) * 6)
}

.offset-ld-7{
    margin-left: calc((100% / 12) * 7)
}

.offset-ld-8{
    margin-left: calc((100% / 12) * 8)
}

.offset-ld-9{
    margin-left: calc((100% / 12) * 9)
}

.offset-ld-10{
    margin-left: calc((100% / 12) * 10)
}

.offset-ld-11{
    margin-left: calc((100% / 12) * 11)
}

.offset-ld-12{
    margin-left: calc((100% / 12) * 12)
}
