.container{
    max-width:1170px;
    margin: 50px auto;
}

.quack-container{
    width:50%;
}

[class*="col-"] {
    height:50px;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.black{
    background-color: black;
}